<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace是mapper起作用的空间-->
<mapper namespace="com.fxk.dao.UserDao">

    <!-- 根据用户信息插入用户   -->
    <insert id="create" parameterType="com.fxk.entity.User" useGeneratedKeys="true" keyProperty="user_id">
        insert into Users_message(user_name,user_password,name,IDNumber,stuStatus) values (#{user_name},#{user_password},#{name},#{IDNumber},#{stuStatus})
    </insert>

    <!-- 根据用户id删除用户 -->
    <delete id="deleteUser" parameterType="int">
		delete from Users_message where user_id = #{id}
	</delete>

    <!-- 根据id查询 -->
    <select id="queryUserById" parameterType="int" resultType="com.fxk.entity.User">
		select user_name,name,IDNumber,stuStatus from Users_message where user_id = #{id}
	</select>


    <resultMap id="UserMap" type="com.fxk.entity.User">
        <id column="user_id" property="user_id"/>
    </resultMap>

    <sql id="UserFindCriteria">
        <where>
            <if test="userName!=null and "></if>
        </where>
    </sql>

    <delete id="deleteDao">
        delete from Users_message
        <include refid="UserFindCriteria"></include>
    </delete>

    <update id="updateDao">

    </update>

    <select id="countDao" resultType="int">
        select count(*) from Users_message
        <include refid="UserFindCriteria"></include>
    </select>
       
    <select id="queryDao" resultMap="UserMap">
        select * from Users_message;
    </select>

    <select id="detailDao">

    </select>
</mapper>